.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../../assets/background-tim.png) no-repeat center fixed;
  // -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  // background-size: cover; /* version standardisée */
  background-color: #212121;
  width: 100%;
  height: calc(100vh - 30px);
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

}
